<div class="auction_index_container">
    <div class="container">
      <div class="row">   
        <h1 id="index_title">Auctions</h1>

        <% @auctions.each do |j| %>
          <div class="thumbs">
            <strong>Amount:</strong> $<%= j.amount %><br>
            <strong>Category:</strong> <%= j.category %><br>
            <strong>Time Remaining:</strong> $<%= j.amount %><br>

              <br>
           <% end %>    
          </div>
        
 
      </div>        
    </div>
 
  </div>
