

<div class="auction_index_container">
    <div class="container">
      <div class="row">   
        <h1 id="index_title">Auctions</h1>

        <% @auctions.each do |j| %>
          <div class="thumbs">
            <strong>Amount:</strong> $<%= j.amount %><br>
            <strong>Category:</strong> <%= j.category %><br>
            <strong>Time Remaining:</strong> $<%= j.amount %><br>
            <%= link_to "View this Auction!", auction_path(j) %><br>
            

              <br>
           <% end %>    
          </div>
        
 
      </div>        
    </div>
 
  </div>
<form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>