

	<% if current_user != nil %>
		<% @users.each do |u| %>
			<div class="user_box"><h1><%= u.email %></h1>
				<% u.photos.each do |p| %>
					<%= image_tag p.image.url(:original) %><br />
				<% end %>
			</div>
		<% end %>
	# <% end %>