<br>

<br>
<div class="question">
<p>What would you like to do today?</p>
</div>
  <div class="buttons">
    <span class="cash-button">
	   <%= link_to "Put up some CA$H", new_auction_path, :method => :get %>
    </span>
    <span class="shopping-button">
	   <%= link_to "Start Selling", new_auction_path, :method => :get %>
    </span>  
  </div>
