<br>

<h1> Welcome <%= current_user.email %></h2>
<br>
<p>What would you like to do today?</p>
	<%= button_to "Put up some CA$H", new_auction_path, :method => :get %>

	<%= button_to "Put up some CA$H", new_auction_path, :method => :get %>
