<head>

</head>
<body>
    <div id="divCounter"></div>
    <script type="text/javascript">
    
    if(localStorage.getItem("counter")){
      if(localStorage.getItem("counter") >= 10){
        var value = 0;
      }else{
        var value = localStorage.getItem("counter");
      }
    }else{
      var value = 0;
    }


    var counter = function (){
      document.getElementById('divCounter').innerHTML = localStorage.getItem("counter");
      if(value >= 10){
        localStorage.setItem("counter", 0);
        value = 0;
      }else{
        value = parseInt(value)+1;
        localStorage.setItem("counter", value);
      }
    };

var interval = setInterval(function (){counter(value);}, 1000);
  </script>
</body>


      

