/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_self
 *= require_tree .
 */

@import 'bootstrap';
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");

body {
  font-family: helvetica;
  background-color: black;
  height: auto;
  width: 100%;
}

.y {
  font-family: helvetica;
  font-size: 60px;
  color: red;
  float: left;
}
.a {
  font-family: helvetica;
  font-size: 60px;
  color: blue;
  float: left;
}

.b {
  font-family: helvetica;
  font-size: 60px;
  color: orange;
  float: left;
}

.e {
  font-family: helvetica;
  font-size: 60px;
  color: green;
  float: left;
}

.yabe.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.yabe {
  position: fixed;
  display: inline-block;
  z-index: 50;
  vertical-align: middle;
  margin-left: 30px;
  margin-top: -10px;

}


.login-button {
  float: right;
  border-radius: 5px;
  margin-right: 40px;
  background-color: red;
  margin-top: 35px;
  width: 90px;
  border: none;
  size: 20px;
  color: white;

}

.navigation-item  {
  display: inline-block;
  color: white;
  margin-left: 15px;
  margin-top: 30px;
  font-size: 20px;
  z-index: 50;
  
}

#mymodal {
  height: 500px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.navigation-item:hover {
  color: yellow;
  text-decoration: none;
}

.row {
  // background-color: white;
  height: 40px;
 
}


.slogan{
  margin-top: 200px;
  margin-left: 400px;
  font-size: 130px;
  color: white;
  text-shadow: 5px 5px 5px #888888;

}

.logged-in {
  margin-left: 1050px;
  color: white;
}

.stripe-button {
  margin-top: 500px;
}







