/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_self
 *= require_tree .
 */

// @import "bootstrap-sprockets";
@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
#cssmenu {
  background: black;
  width: auto;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu ul:after {
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 17px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color: blue;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  // content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
}

#cssmenu ul li a:before {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #333333;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  #cssmenu ul li.last > a,
  #cssmenu ul li:last-child > a {
    border: 0;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    display: none;
  }
}

@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");

body {
  font-family: AvenirLTStd-Medium, "Helvetica", sans-serif;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 460px;
  margin-bottom: 800px;

}

.y {
  font-family: helvetica;
  font-size: 60px;
  color: red;
  float: left;
}
.a {
  font-family: helvetica;
  font-size: 60px;
  color: blue;
  float: left;
}

.b {
  font-family: helvetica;
  font-size: 60px;
  color: orange;
  float: left;
}

.e {
  font-family: helvetica;
  font-size: 60px;
  color: green;
  float: left;
}

.yabe {
  margin-top: 15px;
}
.open-login {
  float: right;
  margin-right: 40px;
  margin-top: 10px;
  width: 90px;
  border: none;
  size: 20px;
  color: black;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.open-login:hover a {
  color: black;
  font-family: 'Open Sans', sans-serif;
}

.open-signup {
  float: right;
  margin-right: 830px;
  margin-top: -23px;
  width: 90px;
  border: none;
  size: 20px;
  color: black;
  text-align: center;
  font-family: 'Open Sans', sans-serif;

}

.open-modal {
  color: black;
}
.open-signup:hover a {
  color: black;
  text-decoration: none;
}

.logged-in {
  margin-left: 1150px;
  margin-top: -30px;
  font-family: 'Open Sans', sans-serif;
  color: white;
}
.signup-logo {
  margin-top: -20px;
  text-align: center;
  color: black;
}

.cash-button {
cursor: pointer;
background: green;
color: black;
text-transform: uppercase;
text-decoration: none;
font-weight: 600;
padding: 0 2em;
font-size: 1em;
line-height: 1.4em;
padding: 1em 2em;
border: none;
outline: none;
position: relative;
display: inline-block;
vertical-align: baseline;
zoom: 1;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;
transition: 200ms;
}

.shopping-button {
cursor: pointer;
background: orange;
color: black;
text-transform: uppercase;
text-decoration: none;
font-weight: 600;
padding: 0 2em;
font-size: 1em;
line-height: 1.4em;
padding: 1em 2em;
border: none;
outline: none;
position: relative;
display: inline-block;
vertical-align: baseline;
zoom: 1;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;
transition: 200ms;
}

.sand-clock {
  background-image: url(http://www.hackathonbd.com/wp-content/uploads/2014/02/18713_miscellaneous_sand_clock.jpg);
  margin-top: 70px;
  width: 100%;
  height: 500px;
  
}

.buttons {
 margin-left: 500px;
 margin-top: 100px;
 padding: 0 20px;
}

.amount {
  text-align: center;
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
}

.auction-period {
  margin-left: 330px;
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
}

.category {
  margin-left: 330px;
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
}

#investment {
  font-size: 20px;
}
.stripe-button {
  margin-top: 500px;

}

.actions {
  text-align: center;
  border-radius: 700px;
  border: none;
  zoom: 1;
}
.question {
  padding-top: 50px;
  text-align: center;
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
}
.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  color: black;
  text-align: center;
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

