// Place all the styles related to the auctions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.whole{
	background-color: #F0F0F0;
}



.auction_index_container{
	width: 970px;
	max-width: none !important;
	margin: 0 auto;
	background-color: #F0F0F0;
}
.thumbs{
	float: left;
	width: 240px;
	text-align: center;
	margin-top: 10px;
}

