// Place all the styles related to the auctions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logged-in {
  margin-left: 900px;
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
  color: black;
}

.logged-in a {
  color: black;
}

.logout-link a {
	color: red;
	float: right;
}

.logout-link {
	color: red;
	float: right;
}
.current-listings {
	text-align: center;
}

.amount {
  text-align: center;
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 40px;
}

.auction-period {
  margin-top: 20px;
  margin-left: 320px;
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
}

.time {
  margin-left: 650px;
  margin-top: -40px;
  
}
.category {
  margin-left: 310px;
  margin-top: 30px;
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
}



#investment {
  font-size: 25px;
  margin-left: 500px;
  margin-top: -45px;
}

.thumbs{
	float: left;
	width: 240px;
	text-align: center;
	margin-top: 10px;
}


.submit {
text-align: center;
margin: .9em 0;
float: right;
display: inline;
font-size: 45px;
text-transform: uppercase;
padding: 1em;
width: 100%;
border: none;
white-space: nowrap;
}


.selected{
	border: solid 5px red;
	float: left;
	width: 240px;
	text-align: center;
	margin-top: 10px;
	border-radius: 50%;
    transition:all 1s;
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
}



.choose-product a {
  margin-top: -20px;
  background-color: blue;
}

.name {
  margin-top: -20px;
}


.details{
	font-size: 30px;
	margin-left: 35%;
  margin-top: -130px;
}

.countdowntimer {
  margin-left: 270px;
  margin-top: -40px;
}
.current-bids {
  margin-right: 1000px;
}
///Auctions Index Page

.amount {
  // margin-bottom: 50px;
  margin-left: 10px;
  margin-right: 600px;
  margin-top: -30px;
}

.amount-field {
  font-size: 40px;
  margin-left: 500px;
  margin-top: -65px;
}

.whole{
	// background-color: #e2f9f8;
}


.whole-left{
	// background-color: #222222;
	width:200px;
  height: 1000px;
	float: left;
	margin-top: 97px;
	margin-left: -150px;
}

.whole-right{
	// background-color: #222222;
	width:200px;
  height: 1000px;
	float: right;
	margin-top: 97px;
	margin-right: -120px;
}


div.img-left {
    margin: 0 auto;
    padding-left: 17px;
    padding-top: 20px;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}

div.img-left img {
    display: inline;
    margin: 5px;
    // border: 1px solid #ffffff;
}

div.img-right {
    margin: 0 auto;
    padding-right: 17px;
    padding-top: 15px;
    height: auto;
    width: auto;
    float: right;
    text-align: center;
}

div.img-right img {
    display: inline;
    margin: 5px;
    // border: 1px solid #ffffff;
}


.auction_index_container{
	width: 1000px;

	max-width: none !important;
	margin: 0 auto;

	// background-color: #F0F0F0;
}
.thumbs{
	float: left;
	width: 340px;
	text-align: center;
	margin-top: 10px;
	display: inline;
	zoom: 1.25;
}
#index_title {
	text-align: center;
	color: black;
  text-shadow: 2px 2px 4px #000000;
  font-size: 48px;
}

.index_title {
	margin-top: -280px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}


.bid{
  margin-left: 35%;
}

.bid a {
	color: black;
	text-decoration: none;
	border: none;
	outline: none;
	webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	transition: 200ms;
	width: 300px;
	height: 80px;

}

.new-auction-title {
  margin-top: -200px;
}

.sand-clock-auction {
  background-image: url(http://www.hackathonbd.com/wp-content/uploads/2014/02/18713_miscellaneous_sand_clock.jpg);
  position: fixed;
  overflow: none;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -100;
  opacity: 0.5;
}

.sand-clock-auction-show {
  background-image: url(http://www.hackathonbd.com/wp-content/uploads/2014/02/18713_miscellaneous_sand_clock.jpg);
  position: fixed;
  overflow: none;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -100;
  opacity: 0.5;
}
.sand-clock-new-auction {
  background-image: url(http://www.hackathonbd.com/wp-content/uploads/2014/02/18713_miscellaneous_sand_clock.jpg);
  position: fixed;
  overflow: none;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -100;
  opacity: 0.5;
}