.your-dashboard {
  font-size: 40px;
  margin-top: -10px;
  margin-right: 10%;
}

.current-auctions {
  margin-right: 80%;
}

.view-auction {
  font-size: 20px;
  margin-left: -40%;
  margin-top: 60px;
}

.this-auction a {
  color: red;
  font-size: 35px;
  text-decoration: none;
}