.logged-in {
  margin-left: 900px;
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.logged-in a {
  color: white;
}

#info {
  font-size: 80px;
  position: absolute;
  color: white;
  text-align: center;
  top: 250px;
  right: 250px;

}