.logged-in {
  margin-left: 900px;
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.logged-in a {
  color: white;
}

.cash-button a {
color: black;
text-transform: uppercase;
font-size: 20px;
margin-left: 36%;
}

.shopping-button a {
color: white;
text-transform: uppercase;
font-size: 20px;
margin-left: 36%;
}

.dashboard-button a {
color: white;
text-transform: uppercase;
font-size: 20px;
margin-left: 36%;
}