// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.dash{
	text-align:center;
}

.dashboard_index_container{
	width: 1000px;

	max-width: none !important;
	margin: 0 auto;

	// background-color: #F0F0F0;
}
.Dthumbs{
	float: left;
	width: 340px;
	text-align: center;
	margin-top: 10px;
	display: inline;
	zoom: 1.25;
}

.Pthumbs{
	float: left;
	
}