<br>
<br>

<h1> WE FOUND YOU A PRODUCT!!!! </h1>
<h2> Please enter address below and press the 'Get It' button when finished</h2>

<div style="left: 500">
	<div class = "stripe">
	<%= form_tag charges_path do %>
	  <article>
	    <label class="amount">
	      <span>Amount: <%= "$20.00"%></span>
	    </label>
	  </article>
	<% end %>

	</div>

	<div class = "address">
		<form>
			<strong><legend>Shipping Address</legend></strong>
			<p>Name:<input type="text" name="name"></p>
			<p>Address:<input type="text" name="address"></p>
			<p>City:<input type="text" name="city"></p>
			<p>State:<input type="text" name="state"></p>
			<p>Zip Code:<input type="text" name="zip"></p>
		</form>
	</div>
</div>