<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <%= form_tag charges_path do %>
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-label="Get It!"
    data-key="pk_test_3VnrXFBGIR0MGiKoT0A6iDP8"
    data-amount="2000"
    data-name="Yabe"
    data-description="2 widgets ($20.00)"
    data-image="'https://localhost:3000/128x128.png">
  </script>
  <% end %>
  <%= yield %>
</body>
</html>